.App {
  text-align: center;
  height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
}

.App-content {  
  background: white !important;
  height: 100%;
  height: -webkit-fill-available;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
